---
const fia = {
  new: {
    name: 'fadeIn',
    duration: '0.5s',
    easing: 'cubic-bezier(0.4, 0, 0.2, 1)',
    fillMode: 'forwards',
  },
  old: {
    name: 'fadeOut',
    duration: '0.5s',
    easing: 'cubic-bezier(0.4, 0, 0.2, 1)',
    fillMode: 'forwards',
  },
}

const fiAnim = {
  forwards: fia,
  backwards: fia,
}
---
<div id="bgBlog"
     class="h-screen w-screen dark:bg-[url('/blog.svg')] bg-[url('/blog-light.svg')] bg-cover bg-bottom min-h-screen min-w-screen overflow-y-hidden">
    <div class="h-full w-full flex flex-col justify-center items-center" transition:animate={fiAnim}>
        <div
                class="flex flex-col justify-start items-start bg-gradient-to-br from-[rgba(_0,_163,_255,_0.6)] to-[rgba(_0,_102,_179,_0.9)] backdrop-filter backdrop-blur rounded-[10px] dark:from-[rgba(_15,_23,_42,_0.9)] dark:to-[rgba(_15,_23,_42,_1)] py-10 px-10 overflow-y-scroll md:p-10 lg:p-16 w-[80vw] h-[85vh] lg:h-[85vh] min-h-fit no-scrollbar">
            <slot></slot>
        </div>
    </div>
</div>
